@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

$primary-color: white;
$bg: black;
h1,
h2,
h3,
h4 {
  color: $primary-color;
  display: inline-block;
  width: fit-content;
  font-size: clamp(3.4rem, 5vw, 8rem);
  text-align: center;
}

html {
  font-size: 1rem;
}

body {
  color: $primary-color;
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS", "Comic Sans", "Comic Neue", cursive;
  font-size: 10rem;
  font-size: clamp(3rem, 3vw, 5rem);
  overflow-x: hidden;
}

div {
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  display: block;
  margin: auto;
  padding: 1em;
  max-width: 1600px;
  overflow: hidden;
}

.panel {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  place-items: center;
  align-items: center;
}

.message {
  flex: 1 1 100%;
  text-align: center;
  transition: all 0.3s;
}

.left,
.right {
  display: block;
  z-index: 1;
  top: 0;
  flex: 1 1 500px; /*  Stretching: */
  margin: 20px;
  overflow: hidden;
  will-change: transform;
  @media (min-device-width: 500px) {
    flex-grow: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
}

footer {
  min-height: 5vh;
  display: grid;
  place-items: center;
  padding: 1rem;
}

.love {
  font-size: clamp(2em, 6vw, 5em);
}
